@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Areas/EczaneNobet/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Admin |  Nöbet Yaz";
}

<h4>Admin</h4>

@Scripts.Render("~/bundle/chart/scripts")

<div class="container-fluid">
    <div class="row">
        <div class="col-auto">

        </div>
        @*<div class="col-md-6">
            <h5>Alanya</h5>
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-6">
            <h5>Antalya</h5>
            <canvas id="myChartAntalya"></canvas>
        </div>*@
    </div>
</div>

@*<div id="ddlNobetGruplar">
        @{
            Html.RenderAction("NobetGruplarDDLPartialView","EczaneNobet", new { area="EczaneNobet", nobetUstGrupId = "" });
        }
    </div>*@

<script>
    @*var alanyaNobetGrupEczeneler = @Html.Raw(Json.Encode(ViewBag.NobetGruplarAlanya));
    var antalyaMerkezNobetGrupEczeneler = @Html.Raw(Json.Encode(ViewBag.NobetGruplarAntalyaMerkez));*@

    var ctx2 = document.getElementById("myChart");
    var myChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ["Alanya-1", "Alanya-2", "Alanya-3"],
            datasets: [{
                label: 'Eczane Sayısı',
                data: alanyaNobetGrupEczeneler,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    //'rgba(75, 192, 192, 0.2)',
                    //'rgba(153, 102, 255, 0.2)',
                    //'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    //'rgba(75, 192, 192, 1)',
                    //'rgba(153, 102, 255, 1)',
                    //'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var ctx3 = document.getElementById("myChartAntalya");
    var myChart2 = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: ["Antalya-1", "Antalya-2", "Antalya-3", "Antalya-4", "Antalya-5", "Antalya-6", "Antalya-7", "Antalya-8", "Antalya-9", "Antalya-10", "Antalya-11"],
            datasets: [{
                label: 'Eczane Sayısı',
                data: antalyaMerkezNobetGrupEczeneler,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    //
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    //
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
