@{
    ViewBag.Title = "İletişim";
    ViewBag.MetaDescription = "Bize ulaşın.";
    ViewBag.MetaKeywords = "nöbet sistemi, iletişim";
}

<style>

    #map {
        height: 400px;
        width: 100%;
        border: thin;
    }
</style>


<div class="container">

    <h4>
        @MultiLanguage.HomeTexts.Iletisim
    </h4>

    <table style="height: auto; border: none">
        <tr>
            <td><i class="fa fa-at" aria-hidden="true"></i></td>
            @*<td>:</td>*@
            <td><a href="mailto:nobetyaz@gmail.com">nobetyaz@gmail.com</a></td>
        </tr>
        @*<tr>
                <td><i class="fa fa-whatsapp" aria-hidden="true"></i></td>
                <td>
                    <a href="Tel:+905452710985" class="alert-link" style="text-decoration:none;">(+90) 545 - 271 09 85</a>
                </td>
            </tr>*@
        @*<tr>
                <td>Adres</td>
                <td>:</td>
                <td>-- </td>
            </tr>*@
    </table>

    <hr />

    <div id="map" class="mb-3">
        @* harita  *@
    </div>

    @*<img src="~/Content/images/qr-code_Semih_Nobetyaz_Vcard.png" width="150" />*@

</div>

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            //center: new google.maps.LatLng(41.015137, 28.979530), //istanbul
            center: new google.maps.LatLng(39.925533, 32.866287), //ankara
            zoom: 10
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP29ma6oCPNwQPFdXbilDCYBKP2Gk52CE&callback=myMap">

</script>


@section Scripts{

    <script>
        $(function () {
            //ready
            $('#navItemReferans').hide();
        })
    </script>
}