@*@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
    @addTagHelper "*,Abc.Northwind.UI.Mvc"*@
<style>

    .circle {
        background: #007bff;
        width: 100px;
        line-height: 100px;
        display: inline-block;
        color: #fff;
        border-radius: 100%;
        font-size: xx-large
    }

    .seviye {
        color: #007bff;
        font-size: x-large;
    }

    .ref {
        font-size: xx-large;
        font-weight: 500;
    }
</style>

<div class="container">
    <div class="row text-center mb-2">
        <div class="col-md-12 mb-3">
            <div class="ref" id="hizmetlerimiz">Hizmetlerimiz</div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nöbetçi Eczane Belirleme</h4>
                    @if (Request.IsAuthenticated)
                    {
                        <a class="nav-link" href="@Url.Action("Index", "NobetYaz",new { area = "EczaneNobet" })">
                            <img class="img-fluid" src="~/Content/images/nobetciEczaneResim2.jpg" alt="Nöbetçi Eczane Belirleme" title="Sisteme giriş yapmak için tıklayınız." style="height:50%; width:50%" />
                        </a>
                    }
                    else
                    {
                        <a class="nav-link" href="@Url.Action("Login", "Account",new { area = "" })">
                            <img class="img-fluid" src="~/Content/images/nobetciEczaneResim2.jpg" alt="Nöbetçi Eczane Belirleme" title="Sisteme giriş yapmak için tıklayınız." style="height:50%; width:50%" />
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hemşire Nöbet Çizelgeleme</h4>
                    <img class="img-fluid" src="~/Content/images/hemsireCizelgeleme2.jpg" title="Hemşire Nöbet Çizelgeleme" style="height:66%; width:66%" />
                    @*style="height:220px;"*@
                </div>
            </div>
        </div>
    </div>

    @*sayılar:*@

    <div class="row text-center mb-2">
        <div class="col-md-3 mb-3">
            <div style="display:none" id="odaSayisiSabit">3</div>
            <div class="counter circle" id="odaSayisi">0</div>
            <div class="seviye">Eczacı Odası</div>
        </div>
        <div class="col-md-3 mb-3">
            <div style="display:none" id="ustGrupSayisiSabit">26</div>
            <div class="counter circle" id="ustGrupSayisi">0</div>
            <div class="seviye">Nöbet Bölgesi</div>
        </div>
        <div class="col-md-3 mb-3">
            <div style="display:none" id="grupSayisiSabit">869</div>
            <div class="counter circle" id="grupSayisi">0</div>
            <div class="seviye">Eczane</div>
        </div>
        <div class="col-md-3 mb-3">
            <div style="display:none" id="eczaneSayisiSabit">5000</div>
            <div class="counter circle" id="eczaneSayisi">0</div>
            <div class="seviye">Yazılan Nöbet</div>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-md-12 mb-3">
            <div class="ref" id="nobetSistemi">Nöbet Sistemi</div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                @*<img class="card-img-top" src="..." alt="Card image cap">*@
                <div class="card-body">
                    <h4 class="card-title">İstek</h4>
                    <p class="card-text">Eczanelerin geçerli isteklerinin olduğu günlere nöbet yazılır. Örneğin Pazar günü için özel bir sıra takip edilebilir.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <h4 class="card-title">Eş Durumu</h4>
                    <p class="card-text">Farklı gruplardaki eşli eczanelere belirtilecek gün aralığında aynı anda nöbet yazılmaz.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h4 class="card-title">Günlerin Dağılımı</h4>
                    @*<p class="card-text">Pazartesi, Salı, Çarşamba, Perşembe, Cuma, Cumartesi, Pazar ve dini/milli bayram günlerinin adaletli dağılımı sağlanır.</p>*@
                    @*<p class="card-text">Pazartesi, Salı, Çarşamba, Perşembe, Cuma, Cumartesi, Pazar ve dini/milli bayram günlerinde ihtiyaç duyulan nöbetçi sayısına göre nöbetler yazılır. Nöbet gruplarına özel belirtilecek günler için eczanelere adaletli nöbet dağılımı sağlanır.</p>*@
                    @*göre nöbetler yazılır. Nöbet gruplarına özel belirtilecek günler için eczanelere*@
                    <p class="card-text">Haftanın herbir günü ve dini/milli bayram günlerinde ihtiyaç duyulan nöbetçi sayısına adaletli nöbet dağılımı sağlanır.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center mb-3">
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h4 class="card-title">Mazeret</h4>
                    <p class="card-text">Eczanelerin geçerli mazeretlerinin olduğu günlere nöbet yazılmaz.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Peşpeşe Nöbet</h4>
                    <p class="card-text">Her eczanenin ay içinde peşpeşe günlerde nöbet tutması engellenir.</p>
                    @* bir nöbet ya da eczane grubuna özel belirtilen değerlere göre  *@
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-info  mb-3">
                <div class="card-body">
                    <h4 class="card-title">Birlikte Nöbet</h4>
                    @*<p class="card-text">Farklı gruplardaki aynı gün nöbet tutan eczanelerin uzun vadede sürekli birlikte nöbetçi olması engellenir.</p>*@
                    <p class="card-text">Farklı gruplardaki eczanelerin sürekli aynı gün nöbet tutması engellenir.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center my-3" id="referanlarimiz">
        <div class="col-md-12">
            <div class="ref">Referanslarımız</div>
        </div>

        <div class="col-md-4" style="margin-top:1%">
            <a class="nav-link" target="_blank" href="https://www.antalyaeo.org.tr/tr">
                <img class="img-fluid" src="~/Content/images/AeoLogo2.png" alt="Antalya Eczacı Odası" />
            </a>
        </div>
        <div class="col-md-4">
            <a class="nav-link" target="_blank" href="https://www.mersineczaciodasi.org.tr/">
                <img class="img-fluid" src="~/Content/images/MeoLogo.png" alt="Mersin Eczacı Odası" />
            </a>
        </div>

        <div class="col-md-4">
            <a class="nav-link" target="_blank" href="http://www.giresuneczaciodasi.org.tr/v2/">
                <img class="img-fluid" src="~/Content/images/GiresunEczaciOdasiLogo.jpg" alt="Giresun Eczacı Odası" style="height:50%; width:50%" />
            </a>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-6">
            <a class="nav-link" target="_blank" href="http://www.alanyaeo.org.tr/tr">
                <img class="img-fluid img-rounded" src="~/Content/images/alanyaEczaciOdasiLogo.jpg" alt="Alanya Eczacı Odası Temsilciliği" />
            </a>
        </div>
    </div>

    <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
        <tr>
            <td width="135" align="center" valign="top">
                <script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.nobetyaz.com&amp;size=S&amp;lang=en"></script><br />
                <a href="http://www.geotrust.com/ssl/" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a>
            </td>
        </tr>
    </table>

</div>

@*<div class="jumbotron">
        <h1 class="display-3">Merhaba!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Detay</a>
        </p>
    </div>*@


@*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Content/images/img7.jpg" alt="First slide" height="600">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/images/sld2.jpg" alt="Second slide" height="600">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Content/images/sld3.jpg" alt="Third slide" height="600">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@

@section scripts{

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script>
        $(document).ready(function () {
            setTimeout(
                sayilariArttir,
                200 /*200 milisaniye sonra sayilariArttir fonksiyonunu çağır */
            );
        });
        function sayilariArttir() {
            odaSayisiSaydir();
            ustGrupSayisiSaydir();
            grupSayisiSaydir();
            eczaneSayisiSaydir();
        }
        function odaSayisiSaydir() {
            var odaSayim = document.getElementById("odaSayisi").innerText;
            var intOdaSayim = parseInt(odaSayim);
            intOdaSayim = intOdaSayim + 1;
            document.getElementById("odaSayisi").innerText = intOdaSayim;
            var odaSayisiSabit = document.getElementById("odaSayisiSabit").innerText;
            var intOdaSayisiSabit = parseInt(odaSayisiSabit);
            if (intOdaSayim < intOdaSayisiSabit) {
                setTimeout(
                    odaSayisiSaydir,
                    2000
                );
            }
        }
        function ustGrupSayisiSaydir() {
            var ustGrupSayim = document.getElementById("ustGrupSayisi").innerText;
            var intustGrupSayim = parseInt(ustGrupSayim);
            intustGrupSayim = intustGrupSayim + 1;
            document.getElementById("ustGrupSayisi").innerText = intustGrupSayim;
            var ustGrupSayisiSabit = document.getElementById("ustGrupSayisiSabit").innerText;
            var intustGrupSayisiSabit = parseInt(ustGrupSayisiSabit);
            if (intustGrupSayim < intustGrupSayisiSabit) {
                setTimeout(
                    ustGrupSayisiSaydir,
                    200//1000
                );
            }
        }
        function grupSayisiSaydir() {
            var grupSayim = document.getElementById("grupSayisi").innerText;
            var intgrupSayim = parseInt(grupSayim);
            intgrupSayim += 10;
            document.getElementById("grupSayisi").innerText = intgrupSayim;
            var grupSayisiSabit = document.getElementById("grupSayisiSabit").innerText;
            var intgrupSayisiSabit = parseInt(grupSayisiSabit);
            if (intgrupSayim < intgrupSayisiSabit) {
                setTimeout(
                    grupSayisiSaydir,
                    50//100
                );
            }

        }

        function eczaneSayisiSaydir() {
            var eczaneSayim = document.getElementById("eczaneSayisi").innerText;
            var inteczaneSayim = parseInt(eczaneSayim);
            inteczaneSayim += 25;
            //if (inteczaneSayim < 100)
            //    inteczaneSayim += 1;
            //if (inteczaneSayim < 300)
            //    inteczaneSayim += 20;
            ////if (inteczaneSayim < 1000)
            ////    inteczaneSayim = inteczaneSayim + 20;
            //else
            //    inteczaneSayim += 30;

            document.getElementById("eczaneSayisi").innerText = inteczaneSayim;
            var eczaneSayisiSabit = document.getElementById("eczaneSayisiSabit").innerText;
            var inteczaneSayisiSabit = parseInt(eczaneSayisiSabit);
            if (inteczaneSayim < inteczaneSayisiSabit) {
                setTimeout(
                    eczaneSayisiSaydir,
                    20
                );
            }
            else {
                document.getElementById("eczaneSayisi").innerText = inteczaneSayim + "+";
            }

        }
    </script>

}