
<h2>Model Çözümleri</h2>

<a class="btn btn-light" href="@Url.Action("Index","EczaneNobet",new { area="EczaneNobet" })"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Eczane Nobet Ana Sayfa</a>

<hr />

<h5>Nöbetçi Eczane Modeli Sonuçlar:</h5>

<b>Tebrikler. <i class='fa fa-check' aria-hidden='true'></i> </b> Nöbetçi Eczane modeli aşağıdaki şekilde çözülmüştür:

<hr />