@*@model List<MyDrop>*@

@{
    var NobetGrupGorevTipId = (int[])TempData["tempNobetGrupId"];
    //var grupSayisi = @ViewBag.grupSayisi;
}

<div class="form row mb-md-3" style="margin-bottom:0rem;">
    @*<div class="form-group mb-0 col-sm-1 col-md-2">
        <label class="col-form-label pt-0 pr-lg-0 font-weight-bold text-secondary">
            Grup
        </label>
    </div>*@
    <div class="form-group mb-0 col-12">

        @* sm-11 col-md-10 *@
        @Html.ListBox("NobetGrupGorevTipId", null, htmlAttributes: new { @class = "form-control mb-2", size = $"{(ViewBag.grupSayisi > 11 ? 11 : ViewBag.grupSayisi)}" }) @*$"{ViewBag.grupSayisi}"*@

        @Html.Hidden("grupSaiyisi")

        <div id="butonlar" style="display:none">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" id="move-up" data-toggle="tooltip" data-placement="top" title="Yukarı Taşı" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-up"></i></button>
                <button type="button" id="move-down" data-toggle="tooltip" data-placement="bottom" title="Aşağı Taşı" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-down"></i></button>
            </div>

            <div class="btn-group" role="group" aria-label="Second group">
                <button type="button" id="rasgeleSirala" data-toggle="tooltip" data-placement="top" title="Rasgele Sırala" class="btn btn-outline-info btn-sm"><i class="fa fa-random"></i></button>
                <button type="button" id="sirala" data-toggle="tooltip" data-placement="top" title="Sırala" class="btn btn-outline-info btn-sm"><i class="fa fa-list"></i></button>
            </div>
            <small class="form-text text-muted">Nöbet grubu öncelik seçenekleri.</small>
        </div>
    </div>
</div>
