
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Kural Uyarı!";
}

<div class="container mt-2">
    <div class="col-md-12">
        <div class="alert alert-warning">
            <i class="fa fa-warning" aria-hidden="true"></i> Nöbetler yazılamadı. <b>Birkaç kuralda sorun var.</b>
        </div>

        <div>
            @Html.Raw(Model.Exception.Message)
        </div>
    </div>
</div>
